<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:800' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Gentium+Book+Basic:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
		<title><%= @entry.title %></title>
		<link href="/css/blogpage.css" rel="stylesheet" type="text/css">
		<link href="/css/blogmedia.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/css/font-awesome.css" type="text/css">
	</head>
	<body>
		<header><%= @entry.title %></header>
		<section role="navigation">
			<ul>
				<li><a href="/"><i class="icon-home"></i> Back Home</a></li>
				<li><a href="/b/"><i class="icon-pencil"></i> Blog List</a></li>
		</section>
		<article>
			<% if @previous then %>
			<div id="previous-arrow" class="directions">
				<a href="/b/<%= @previous.slug %>"><i class="icon-circle-arrow-left"></i></a>
			</div>
			<% end
				if @next then %>
			<div id="next-arrow" class="directions">
				<a href="/b/<%= @next.slug %>"><i class="icon-circle-arrow-right"></i></a>
			</div>
			<% end %>
			<%= markdown( @entry.body ) %>
		</article>
					<footer>
				<ol>
					<li><a href="https://github.com/jarofghosts"><i class="icon-github"></i></a></li>
					<li><a href="https://twitter.com/jarofghosts"><i class="icon-twitter"></i></a></li>
					<li><a href="https://plus.google.com/102866448651141599911/posts"><i class="icon-google-plus"></i></a></li>
					<li><a href="http://www.linkedin.com/in/jarofghosts"><i class="icon-linkedin"></i></a></li>
				</ol>
			</footer>
	</body>
</html>